<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>ÇUIS - {{title}}</title>
    <link rel="stylesheet" href="node_modules/flatpickr/dist/flatpickr.css">
    <link rel="stylesheet" href="node_modules/bulma/css/bulma.css">
    <link rel="stylesheet" href="node_modules/bulma-divider/dist/css/bulma-divider.min.css">
    <link rel="stylesheet" href="node_modules/bulma-checkradio/dist/css/bulma-checkradio.min.css">
    <link rel="stylesheet" href="node_modules/ng-bulma/dist/ng-bulma.css">
    <link rel="stylesheet" href="node_modules/angucomplete-alt/angucomplete-alt.css">
    <link rel="stylesheet" href="assets/css/shadow.css">
    <link rel="stylesheet" href="assets/css/saude.css">
    <link rel="stylesheet" href="assets/css/loader.css">
</head>
<body id="main">


<div ng-if="loader" id="preloader">
    <div id="loader"></div>
</div>

<div ng-include="'app/nav.html'"></div>

<div ng-view></div>

<!--ERROR MODAL-->
<div class="modal is-fullwidth" ng-class="{'is-active': showErrorData}">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">ERROR REPORT</p>
            <button class="delete" aria-label="close" ng-click="showErrorData = false"></button>
        </header>
        <section class="modal-card-body">
            <pre>
                {{errorData | json}}
            </pre>
        </section>
    </div>
</div>
<!--ERROR MODAL-->

</body>
<script src="node_modules/angular/angular.js"></script>
<script src="node_modules/angular-route/angular-route.js"></script>
<script src="node_modules/angular-jwt/dist/angular-jwt.js"></script>
<script src="node_modules/ng-bulma/dist/ng-bulma.js"></script>
<script src="node_modules/flatpickr/dist/flatpickr.js"></script>
<script src="node_modules/moment/moment.js"></script>
<script src="node_modules/angular-input-masks/releases/angular-input-masks-standalone.js"></script>
<script src="node_modules/angular-br-filters/release/angular-br-filters.js"></script>
<script src="node_modules/bulma-toast/dist/bulma-toast.min.js"></script>
<script src="app/app.js"></script>
<script src="node_modules/angular-locale-pt-br/angular-locale_pt-br.js"></script>
<script src="node_modules/angucomplete-alt/dist/angucomplete-alt.min.js"></script>

<script src="node_modules/jquery/dist/jquery.js"></script>
<script src="assets/jquery-ui.js"></script>
<script src="node_modules/angular-dragdrop/src/angular-dragdrop.js"></script>
</html>