<div class="section" ng-init="dg.init()">

    <div class="columns is-multiline has-background-grey-light bShadow-10 box">
        <div class="field column is-2">
            <label class="label">Paciente</label>
            <input type="text" autocomplete="off"
                   ng-model="dg.visita.paciente.pessoa.nome"
                   class="input" readonly>
        </div>
        <div class="field column is-2">
            <label class="label">Idade</label>
            <input type="text" autocomplete="off"
                   ng-model="dg.visita.idade"
                   class="input" readonly>
        </div>
        <div class="field column is-2">
            <label class="label">Pressão</label>
            <input type="text" autocomplete="off"
                   ng-model="dg.visita.pressao"
                   class="input" readonly>
        </div>
        <div class="field column is-2">
            <label class="label">Temperatura</label>
            <input type="text" autocomplete="off"
                   ng-model="dg.visita.temperatura"
                   class="input" readonly>
        </div>
        <div class="column is-4"></div>
        <div class="column is-6 field">
            <label class="label">Sintomas</label>
            <textarea style="resize: none" cols="30" rows="10" class="textarea" ng-model="dg.visita.sintomas" readonly></textarea>
        </div>
        <div class="column is-6 field">
            <label class="label">Estado</label>
            <textarea style="resize: none" cols="30" rows="10" class="textarea" ng-model="dg.visita.descricao_estado" readonly></textarea>
        </div>
    </div>

    <form ng-submit="dg.salvar()">
        <div class="columns">
            <div class="column">
                <p class="title">Dados do diagnostico</p>
            </div>
        </div>
        <div class="columns is-multiline">
            <div class="field column is-2">
                <label class="label">Data do diagnóstico</label>
                <input type="text" autocomplete="off" name="dataNascimento" id="dataDiagnostico"
                       ng-model="dg.novo.data_diagnostico"
                       class="input datetimepick" required>
            </div>
            <div class="field column is-2">
                <input class="is-checkradio is-success" id="exampleCheckboxSuccess" type="checkbox" name="exampleCheckboxSuccess" ng-model="dg.novo.contagioso" ng-checked="false">
                <label for="exampleCheckboxSuccess">Contagioso?</label>
            </div>

            <div class="field column is-2">
                <input class="is-checkradio is-success" id="exampleCheckboxSuccess2" type="checkbox" name="exampleCheckboxSuccess2" ng-model="dg.novo.internar" ng-checked="false">
                <label for="exampleCheckboxSuccess2">Internar?</label>
            </div>


            <div class="field column is-12">
                <label class="label">Diagnostico</label>
                <textarea style="resize: none" cols="30" rows="10" class="textarea" ng-model="dg.novo.descricao" required></textarea>
            </div>

            <div class="column">
                <button type="submit" class="button is-success">
                    Salvar
                </button>
            </div>
        </div>
    </form>

    <div class="columns">
        <div class="column">
            <pre>{{dg.novo | json}}</pre>
        </div>
    </div>

</div>