<div class="section" ng-init="fila.init()">
    <p class="title">Fila de Hoje</p>
    <p class="subtitle">Clique para ver a ficha</p>

    <div class="columns is-multiline">
        <div class="column is-5" ng-repeat="fm in fila.filaMedica track by $index">
            <div class="card">
                <div class="card-header">
                    <p class="card-header-title">{{fm['pessoa']['nome']}}</p>
                </div>
                <div class="card-content">
                    <li class="box" ng-repeat="v in fm['visitas'] | orderBy: 'ordem_atendimento'" data-drop="true"
                        data-drag="true"
                        ng-model="fm['visitas']"
                        ng-click="fila.setFicha(v)"
                        jqyoui-droppable="{index: {{$index}}, onDrop: 'fila.ordernarVisita(v, $index)'}"
                        jqyoui-draggable="{index: {{$index}}, insertInline: true, direction:'jqyouiDirection'}"
                        data-jqyoui-options="{revert: 'invalid'}" data-direction="{{item.jqyouiDirection}}">
                        <!--{{v.id}} &#45;&#45; {{v.paciente.pessoa.nome}}-->
                        {{v['paciente']['pessoa']['nome']}} - <b>Tempo na fila: {{fila.calcTime(v)}}</b>

                        <div class="tag is-warning">{{v['status_visita']['nome']}}</div>
                    </li>
                </div>
            </div>
        </div>
        <div class="column is-7" ng-if="fila.visitaFicha">
            <div class="card">
                <div class="card-header">
                    <p class="card-header-title">Ficha de: {{ fila.visitaFicha.paciente.pessoa.nome}}</p>
                    <button style="margin-right: 5px; margin-top: 5px;" class="button is-danger" ng-click="fila.visitaFicha = null">QUARENTENA</button>
                    <a href="#!/diagnostico/{{fila.visitaFicha.id}}" style="margin-right: 5px; margin-top: 5px;" class="button is-info" ng-click="fila.visitaFicha = null">Atender</a>
                    <button style="margin-right: 5px; margin-top: 5px;" class="button is-warning" ng-click="fila.visitaFicha = null">fechar</button>
                </div>
                <div class="card-content">
                    <div class="columns">
                        <div class="field column is-3">
                            <label class="label">Data da visita</label>
                            <input type="text" autocomplete="off"
                                   ng-model="fila.visitaFicha.data_visita"
                                   class="input" readonly>
                        </div>
                        <div class="field column is-4">
                            <label class="label">Paciente</label>
                            <input type="text" autocomplete="off"
                                   ng-model="fila.visitaFicha.paciente.pessoa.nome"
                                   class="input" readonly>
                        </div>
                        <div class="field column is-3">
                            <label class="label">CPF</label>
                            <input type="text" autocomplete="off"
                                   ng-model="fila.visitaFicha.paciente.pessoa.cpf"
                                   class="input" readonly ui-br-cpf-mask>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column field">
                            <label class="label">Sintomas</label>
                            <textarea cols="30" rows="10" class="textarea" ng-model="fila.visitaFicha.sintomas" readonly></textarea>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column field">
                            <label class="label">Estado</label>
                            <textarea cols="30" rows="10" class="textarea" ng-model="fila.visitaFicha.descricao_estado" readonly></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>