<div class="section" ng-init="func.init()">
    <p class="title">Funcionarios</p>

    <table class="table is-fullwidth">
        <thead>
        <tr>
            <th>Nome</th>
            <th>Tipo</th>
            <th>CPF</th>
            <th class="has-text-centered">Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="f in func.funcionarios">
            <td>{{f.funcionario[f.funcionario.tipo].pessoa.nome}}</td>
            <td>{{f.funcionario.tipo}}</td>
            <td>{{f.funcionario[f.funcionario.tipo].pessoa.cpf | brCpf}}</td>
            <td class="has-text-centered">
                <a href="#!/funcionario/{{f.id}}" class="button is-info">Editar</a>
                <button ng-click="func.desativar(f.id)" ng-if="!f.ativo" class="button is-success">Ativar</button>
                <button ng-click="func.desativar(f.id)" ng-if="f.ativo" class="button is-danger">Desativar</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>