<div class="section" ng-init="func.init()">
    <p class="title">Cadastro de funcionario</p>

    <form name="formNovoFunc" ng-submit="func.salvar()">
        <div class="columns is-mobile is-multiline">
            <div class="column is-12 is-centered has-text-centered">
                <div class="field">
                    <input ng-disabled="func.novo.id" ng-change="func.trataTipo('medico')" class="is-checkradio"
                           id="exampleRadioInline1"
                           type="radio" name="exampleRadioInline"
                           checked="checked" value="medico" ng-model="func.novo.funcionario.tipo">
                    <label for="exampleRadioInline1">Médico</label>
                    <input ng-disabled="func.novo.id" ng-change="func.trataTipo('atendente')" class="is-checkradio"
                           id="exampleRadioInline2"
                           type="radio" name="exampleRadioInline"
                           value="atendente" ng-model="func.novo.funcionario.tipo">
                    <label for="exampleRadioInline2">Atendente</label>
                </div>
            </div>

            <div class="column is-12">
                <div class="is-divider" data-content="Dados gerais"></div>
            </div>
            <div class="field column is-4">
                <label class="label">Nome</label>
                <input type="text" name="pacienteNome" autocomplete="off"
                       ng-model="func.novo.funcionario[func.novo.funcionario.tipo].pessoa.nome"
                       class="input" required>
            </div>
            <div class="field column is-2">
                <label class="label">Data de nascimento</label>
                <input type="text" autocomplete="off" name="dataNascimento" id="pacienteNascimento"
                       ng-model="func.novo.funcionario[func.novo.funcionario.tipo].pessoa.data_nascimento"
                       class="input datetimepick" required>
            </div>
            <div class="field column is-2">
                <label class="label">CPF</label>
                <input type="text" name="pacienteCPF"
                       ng-model="func.novo.funcionario[func.novo.funcionario.tipo].pessoa.cpf" class="input"
                       ui-br-cpf-mask
                       required autocomplete="off">
                <p ng-if="novoPacienteForm.pacienteCPF.$error.cpf" class="help is-danger">CPF incorreto!</p>
            </div>
            <div class="column is-4"></div>
            <div class="field column is-2">
                <label class="label">Fone</label>
                <input type="text" name="pacienteFone" autocomplete="off"
                       ng-model="func.novo.funcionario[func.novo.funcionario.tipo].pessoa.fone"
                       class="input"
                       ui-br-phone-number-mask required>
            </div>
            <div class="field column is-4">
                <label class="label">Email</label>
                <input type="email" autocomplete="off" name="pacienteEmail"
                       ng-model="func.novo.funcionario[func.novo.funcionario.tipo].pessoa.email"
                       class="input">
            </div>
            <div class="field column is-2">
                <label class="label">Sexo</label>
                <div class="select">
                    <select ng-model="func.novo.funcionario[func.novo.funcionario.tipo].pessoa.sexo" required
                            name="pacienteSexo">
                        <option value="">Selecione</option>
                        <option value="M">Masculino</option>
                        <option value="F">Feminino</option>
                    </select>
                </div>
            </div>
            <div class="column is-4"></div>
            <div class="column is-12">
                <div class="is-divider" data-content="Dados de contratação"></div>
            </div>

            <div class="column field is-3">
                <label class="label">Contratato em</label>
                <input type="text" autocomplete="off" name="dataNascimento" id="funcionarioContratacao"
                       ng-model="func.novo.funcionario.data_contratacao"
                       class="input datetimepick" required>
            </div>

            <div class="column field is-3">
                <label class="label">Salário</label>
                <input type="text" autocomplete="off" name="dataNascimento"
                       ng-model="func.novo.funcionario.salario"
                       class="input" ui-money-mask required>
            </div>

        </div>
        <div class="columns is-multiline" ng-if="func.novo.funcionario.tipo === 'medico'">

            <div class="column is-12">
                <div class="is-divider" data-content="Dados médicos"></div>
            </div>

            <div class="column field is-3">
                <label for="" class="label">CRM</label>
                <input type="text" class="input" ng-model="func.novo.funcionario.medico.crm" required>
            </div>

            <div class="column field is-3">
                <label for="" class="label">Especialidade em exercicio</label>
                <div class="select is-multiple">
                    <!--<select ng-model="func.novo.funcionario.medico.formacao" multiple>-->
                        <!--<option ng-value="e" ng-repeat="e in func.especialidades">{{e.nome}}</option>-->
                    <!--</select>-->

                    <select multiple ng-model="func.novo.funcionario.medico.formacao" ng-options="e as e.nome for e in func.especialidades track by e.id"></select>
                    
                </div>
            </div>

            <div class="column field is-4" ng-if="func.novo.funcionario.medico.formacao.length > 0">
                <label for="" class="label">Qual em exercicio?</label>
                <div class="buttons is-grouped">
                    <button type="button" ng-click="func.setExercicio(f)" class="button is-small"
                            ng-class="{'is-warning': func.eExercicio(f) === true }"
                            ng-repeat="f in func.novo.funcionario.medico.formacao">{{f.nome}}
                    </button>
                </div>
            </div>

        </div>
        <div class="columns is-multiline" ng-if="func.novo.funcionario.tipo === 'atendente'">

            <div class="column is-12">
                <div class="is-divider" data-content="Dados do funcionário"></div>
            </div>

            <div class="column field is-3">
                <label for="" class="label">Crachá Num</label>
                <input type="text" class="input" ng-model="func.novo.funcionario.atendente.num_cracha" required>
            </div>
            <div class="column field">
                <input class="is-checkradio is-rtl" id="exampleRtlCheckbox" type="checkbox" name="exampleRtlCheckbox"
                       ng-model="func.novo.funcionario.atendente.trabalha_final_de_semana">
                <label for="exampleRtlCheckbox">Trabalha final de semana?</label>
            </div>



        </div>
        <div class="column is-12">
            <div class="is-divider" data-content="Dados de acesso"></div>
        </div>
        <div class="columns">
            <div class="column is-3 field">
                <label class="label">Usuário</label>
                <input type="text" class="input" ng-model="func.novo.username" required>
            </div>

            <div class="column is-3 field">
                <label class="label">senha</label>
                <input ng-required="!func.novo.id" type="password" class="input" ng-model="func.novo.senha">
            </div>
        </div>

        <div class="columns">
            <div class="column">
                <button type="submit" class="button is-success" ng-class="{'is-loading': loader}">Salvar</button>
            </div>
        </div>
    </form>
</div>