<div class="section" ng-init="home.init()">
    <div class="columns is-centered">
        <a href="#!/visita" class="column is-4" ng-if="getUserType() === 'atendente'">
            <div class="notification is-warning has-text-centered bShadow-3">
                <h3 class="is-3">Cadastrar nova visita</h3>
            </div>
        </a>
        <br>
        <a href="#!/visita" class="column is-4" ng-if="getUserType() === 'atendente'">
            <div class="notification is-danger has-text-centered bShadow-3">
                <h3 class="is-3">Fila de espera</h3>
            </div>
        </a>
    </div>
</div>