<div class="columns  is-vcentered is-centered login-box" id="main">
    <div class="column is-4-desktop is-6-tablet is-8-touch">
        <div class="card has-text-centered bShadow-10" style="padding: 10px;">
            <img src="assets/img/login.png" alt="" style="max-width: 12em;">
            <form ng-submit="login.logar()">
                <div class="field">
                    <div class="control">
                        <label class="label">Usuário</label>
                        <input ng-model="login.credentials.usuario" type="text" class="input" autofocus required>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <label class="label">Senha</label>
                        <input ng-model="login.credentials.senha" type="password" class="input" required>
                    </div>
                </div>
                <button  type="submit" class="button is-link is-fullwidth">ENTRAR</button>
            </form>
        </div>
    </div>
</div>