<div class="section" ng-init="medico.init()">
    <p class="title">Cadastro de médico</p>
    <form name="novoMedicoForm" ng-submit="medico.salvar()">
        <div class="columns is-multiline">
            <div class="field column is-4">
                <label class="label">Nome</label>
                <input type="text" name="medicoNome" autocomplete="off" ng-model="medico.novo.funcionario.medico.pessoa.nome" class="input"
                       required>
            </div>
            <div class="field column is-2">
                <label class="label">Data de nascimento</label>
                <input type="text" autocomplete="off" name="dataNascimento" id="pacienteNascimento"
                       ng-model="medico.novo.funcionario.medico.pessoa.data_nascimento"
                       class="input datetimepick" required>
            </div>
            <div class="field column is-2">
                <label class="label">CPF</label>
                <input type="text" name="pacienteCPF" ng-model="medico.novo.funcionario.medico.pessoa.cpf" class="input" ui-br-cpf-mask
                       required autocomplete="off">
                <p ng-if="novoMedicoForm.pacienteCPF.$error.cpf" class="help is-danger">CPF incorreto!</p>
            </div>
            <div class="column is-4"></div>
            <div class="field column is-2">
                <label class="label">Fone</label>
                <input type="text" name="pacienteFone" autocomplete="off" ng-model="medico.novo.funcionario.medico.pessoa.fone"
                       class="input"
                       ui-br-phone-number-mask required>
            </div>
            <div class="field column is-4">
                <label class="label">Email</label>
                <input type="email" autocomplete="off" name="pacienteEmail" ng-model="medico.novo.funcionario.medico.pessoa.email"
                       class="input">
            </div>
            <div class="field column is-2">
                <label class="label">Sexo</label>
                <div class="select">
                    <select ng-model="medico.novo.funcionario.medico.pessoa.sexo" required name="pacienteSexo">
                        <option value="">Selecione</option>
                        <option value="M">Masculino</option>
                        <option value="F">Feminino</option>
                    </select>
                </div>
            </div>
            <div class="column is-4"></div>
            <div class="field column is-2">
                <label class="label">CRM</label>
                <input type="text" class="input" ng-model="medico.novo.funcionario.medico.crm" required>
            </div>
            <div class="field column is-3">
                <label class="label">Cargo</label>
                <input type="text" name="medicoCargo" autocomplete="off" ng-model="medico.novo.funcionario.cargo"
                       class="input" required>
            </div>
            <div class="field column is-2">
                <label class="label">Salario</label>
                <input type="text" name="medicoSalario" autocomplete="off" ng-model="medico.novo.funcionario.salario"
                       class="input" ui-money-mask="R$" required>
            </div>
            <div class="field column is-2">
                <label class="label">Data de contratação</label>
                <input type="text" autocomplete="off" name="dataNascimento" id="funcionario_contratacao"
                       ng-model="medico.novo.funcionario.data_contratacao"
                       class="input datetimepick" required>
            </div>
            <div class="column is-3"></div>
            <div class="field column is-3">
                <label class="label">Usuário</label>
                <input class="input" type="text" ng-model="medico.novo.username" required>
            </div>
            <div class="field column is-3">
                <label class="label">Senha</label>
                <input class="input" type="password" ng-model="medico.novo.senha" required>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <button type="submit" class="button is-success" ng-class="{'is-loading': loader}">Salvar</button>
            </div>
        </div>
    </form>



</div>