<div class="section" ng-init="medico.todos()">
    <p class="title">Lista de Médicos</p>

    <table class="table is-fullwidth is-hoverable">
        <thead>
        <tr>
            <th>Nome</th>
            <th>CRM</th>
            <th>Data de Cadastro</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="m in medico.medicos">
            <td>{{m.pessoa.nome}}</td>
            <td>{{m.crm}}</td>
            <td>{{m.pessoa.created_at | date: 'dd/MM/yyyy HH:mm'}}</td>
            <td class="has-text-centered">
                <a href="#!/medico/{{m.id}}" class="button is-link">Editar</a>
                <button ng-if="!m.deactivated_at" ng-click="medico.excluir(p.id)" class="button is-danger">Desativar</button>
                <button ng-if="m.deactivated_at" ng-click="medico.excluir(p.id)" class="button is-success">Ativar</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>