<nav ng-if="checkIfLogged()" class="navbar is-link bShadow-10">
    <div class="navbar-brand">
        <div class="navbar-item">
            <img src="assets/img/logo2.png" alt="">
        </div>
    </div>
    <div class="navbar-start">
        <a href="#!/home" class="navbar-item">
            Home
        </a>
        <a class="navbar-item" href="#!/fila">
            FILA
        </a>
        <div ng-if="getUserType() !== 'medico'" class="navbar-item has-dropdown is-hoverable">
            <div class="navbar-link">Pacientes</div>
            <div class="navbar-dropdown">
                <div class="navbar-item">
                    <a href="#!/pacientes">
                        Lista
                    </a>
                </div>
                <div class="navbar-item">
                    <a href="#!/paciente/">
                        Cadastro
                    </a>
                </div>
            </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
            <div class="navbar-link">Visitas</div>
            <div class="navbar-dropdown">
                <div class="navbar-item">
                    <a href="#!/visitas">
                        Lista
                    </a>
                </div>
                <div class="navbar-item">
                    <a href="#!/visita">
                        Registrar
                    </a>
                </div>
            </div>
        </div>
        <div ng-if="getUserType() !== 'medico'" class="navbar-item has-dropdown is-hoverable">
            <div class="navbar-link">Funcionarios</div>
            <div class="navbar-dropdown">
                <div class="navbar-item">
                    <a href="#!/funcionarios">
                        Lista
                    </a>
                </div>
                <div class="navbar-item">
                    <a href="#!/funcionario">
                        Cadastro
                    </a>
                </div>
            </div>
        </div>
        <a ng-if="getUserType() !== 'medico'" class="navbar-item" href="#!/quartos">
            Quartos
        </a>
        <a ng-if="getUserType() === 'medico'" class="navbar-item" href="#!/atendimento">
            Atendimento
        </a>
    </div>
    <div class="navbar-end">
        <div class="navbar-item">
            <a ng-click="logout()" class="button is-warning">{{getUserName()}}</a>
        </div>
        <div class="navbar-item">
            <button ng-click="logout()" class="button is-danger">Sair</button>
        </div>
    </div>
</nav>