<div class="section" ng-init="paciente.todos()">
    <p class="title">Lista de Pacientes</p>
    <table class="table is-fullwidth is-hoverable">
        <thead class="is-link">
        <tr>
            <th>Nome</th>
            <th>CPF</th>
            <th>Fone</th>
            <th>Data Cadastro</th>
            <th class="has-text-centered">Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="p in paciente.pacientes; track by $index">
            <td>{{p.pessoa.nome}}</td>
            <td>{{p.pessoa.cpf | brCpf}}</td>
            <td>{{p.pessoa.fone | brPhoneNumber}}</td>
            <td>{{p.pessoa.created_at | date: 'dd/MM/yyyy HH:mm'}}</td>
            <td class="has-text-centered">

                <ng-template ng-if="getUserType() !== 'medico'">
                    <a href="#!/paciente/{{p.id}}" class="button is-link">Editar</a>
                    <button ng-if="!p.deactivated_at" ng-click="paciente.excluir(p.id)" class="button is-danger">Desativar</button>
                    <button ng-if="p.deactivated_at" ng-click="paciente.excluir(p.id)" class="button is-success">Ativar</button>
                </ng-template>

                <button ng-click="paciente.excluir(p.id)" class="button is-success">Prontuário</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>