<div class="section" ng-init="paciente.init()">
    <p class="title">Novo Paciente</p>
    <form name="novoPacienteForm" ng-submit="paciente.salvar()">
        <div class="columns is-mobile is-multiline">
            <div class="field column is-4">
                <label class="label">Nome</label>
                <input type="text" name="pacienteNome" autocomplete="off" ng-model="paciente.novo.pessoa.nome" class="input" required>
            </div>
            <div class="field column is-2">
                <label class="label">Data de nascimento</label>
                <input type="text" autocomplete="off" name="dataNascimento" id="pacienteNascimento" ng-model="paciente.novo.pessoa.data_nascimento"
                       class="input datetimepick" required>
            </div>
            <div class="field column is-2">
                <label class="label">CPF</label>
                <input type="text" name="pacienteCPF" ng-model="paciente.novo.pessoa.cpf" class="input" ui-br-cpf-mask
                       required autocomplete="off">
                <p ng-if="novoPacienteForm.pacienteCPF.$error.cpf" class="help is-danger">CPF incorreto!</p>
            </div>
            <div class="column is-4"></div>
            <div class="field column is-2">
                <label class="label">Fone</label>
                <input type="text" name="pacienteFone" autocomplete="off" ng-model="paciente.novo.pessoa.fone" class="input"
                       ui-br-phone-number-mask required>
            </div>
            <div class="field column is-4">
                <label class="label">Email</label>
                <input type="email" autocomplete="off"  name="pacienteEmail" ng-model="paciente.novo.pessoa.email" class="input">
            </div>
            <div class="field column is-2">
                <label class="label">Sexo</label>
                <div class="select">
                    <select ng-model="paciente.novo.pessoa.sexo" required name="pacienteSexo">
                        <option value="">Selecione</option>
                        <option value="M">Masculino</option>
                        <option value="F">Feminino</option>
                    </select>
                </div>
            </div>
            <div class="column is-4"></div>
            <div class="field column is-2">
                <input class="is-checkradio is-success" id="exampleCheckboxSuccess" type="checkbox" name="exampleCheckboxSuccess" ng-model="paciente.novo.convenio" ng-checked="false">
                <label for="exampleCheckboxSuccess">Possui Convênio?</label>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <button type="submit" class="button is-success" ng-class="{'is-loading': loader}">Salvar</button>
            </div>
        </div>
    </form>

    <!--<div class="columns">-->
        <!--<pre>-->
            <!--{{novoPacienteForm| json}}-->
        <!--</pre>-->
    <!--</div>-->
</div>