<div class="section" ng-init="qrt.init()">
    <p class="title">Quartos</p>

    <div class="column is-13 is-pulled-right">
        <button class="button is-success" ng-click="qrt.editar({})">Novo</button>
    </div>
    <table class="table is-fullwidth">
        <thead>
        <tr>
            <th>Numero</th>
            <th>Andar</th>
            <th>Status</th>
            <th class="has-text-centered">Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="q in qrt.quartos track by $index">
            <td>{{q.numero}}</td>
            <td>{{q.andar}}</td>
            <td>{{qrt.getStatus(q.status)}}</td>
            <td class="has-text-centered">
                <button class="button is-info" ng-click="qrt.editar(q)">Editar</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<!--<div class="section" ng-if="qrt.quartoEditar">-->
<div class="section" ng-if="qrt.exibirForm">
    <p class="title">
        {{qrt.quartoEditar.id ? 'Editar Quarto' : 'Novo Quarto'}}
    </p>
    <form ng-submit="qrt.salvar()">
        <div class="columns is-multiline">
            <div class="column field is-2">
                <label class="label">Número</label>
                <input type="text" class="input" ng-model="qrt.quartoEditar.numero" required>
            </div>
            <div class="column field is-2">
                <label for="" class="label">Capacidade</label>
                <input type="number" class="input" ng-model="qrt.quartoEditar.capacidade">
            </div>
            <div class="column field is-2">
                <label for="" class="label">Andar</label>
                <div class="select">
                    <select ng-model="qrt.quartoEditar.andar"
                            ng-options="ad.id as ad.id for ad in qrt.andares"></select>
                </div>
            </div>
            <div class="column field is-2">
                <label for="" class="label">Status</label>
                <div class="select">
                    <select ng-model="qrt.quartoEditar.status"
                            ng-options="st.id as st.nome for st in qrt.statusQuarto"></select>
                </div>
            </div>
            <div class="field column is-2">
                <input class="is-checkradio is-success" id="exampleCheckboxSuccess" type="checkbox"
                       name="exampleCheckboxSuccess" ng-model="qrt.quartoEditar.quarentena"
                       ng-checked="qrt.quartoEditar.quarentena">
                <label for="exampleCheckboxSuccess">Quarentena</label>
            </div>
        </div>
        <div class="columns column is-3">
            <button type="submit" class="button is-success">Salvar</button>
        </div>
    </form>
</div>

<div class="columns">
    <pre>{{qrt.quartoEditar | json}}</pre>
</div>