<div class="section" ng-init="vis.init()">
    <form name="novaVisitaForm">
        <div class="columns is-multiline">
            <div class="column is-3 field">
                <label class="label">Paciente</label>
                <angucomplete-alt id="paciente"
                                  placeholder="Paciente"
                                  pause="100"
                                  selected-object="vis.pacienteSelecionado"
                                  remote-url="http://localhost:8000/api/paciente?search="
                                  title-field="pessoa.nome"
                                  description-field="pessoa.cpf"
                                  minlength="1"
                                  match-class="is-danger"
                                  input-class="input"/>
            </div>
            <div class="column is-3 field">
                <label class="label">Medico</label>
                <div class="select">
                    <select ng-model="vis.novo.medico"
                            ng-options="m as m.pessoa.nome for m in vis.medicos track by m.id"></select>
                </div>
            </div>
            <div class="field column is-2">
                <label class="label">Data da visita</label>
                <input type="text" autocomplete="off" name="dataNascimento" id="dataVisita"
                       ng-model="vis.novo.data_visita"
                       class="input datetimepick" required>
            </div>
            <div class="column is-4"></div>
            <div class="column is-3 field">
                <label class="label">Pressão</label>
                <input type="text" class="input" ng-model="vis.novo.pressao">
            </div>
            <div class="column is-3 field">
                <label class="label">Temperatura</label>
                <input type="text" class="input" ng-model="vis.novo.temperatura">
            </div>
            <div class="column is-6"></div>
            <div class="column is-6 field">
                <label class="label">Sintomas</label>
                <textarea cols="30" rows="10" class="textarea" ng-model="vis.novo.sintomas"></textarea>
            </div>
            <div class="column is-6 field">
                <label class="label">Estado</label>
                <textarea cols="30" rows="10" class="textarea" ng-model="vis.novo.descricao_estado"></textarea>
            </div>
        </div>
    </form>

    <div class="columns">
        <div class="column">
            <button class="button is-success" ng-click="vis.salvar()">Salvar</button>
        </div>
    </div>
</div>