<div class="section" ng-init="vis.init()">
    <p class="title">Lista de Visitas</p>

    <div class="level">
        <div class="level left"></div>
        <div class="level-right">
            <div class="column">
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Paciente</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control">
                                <input placeholder="Filtro por paciente" type="text" class="input"
                                       ng-change="vis.filtrar($event)"
                                       ng-model="vis.filtro.nome">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Medico</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control">
                            <div class="select">
                                <select ng-model="vis.filtro.medico" ng-change="vis.filtrar($event)">
                                    <option ng-value="">Todos</option>
                                    <option ng-value="m.id" ng-repeat="m in vis.medicos track by $index">
                                        {{m.pessoa.nome}}
                                    </option>
                                </select>
                            </div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Data</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control">
                            <div class="select">
                            <input type="text"
                                   id="datetimepickData"
                                   class="input datetimepickData"
                                   ng-change="vis.filtrar($event)"
                                   ng-model="vis.filtro.data_visita">
                            </div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <table class="table is-fullwidth">
        <thead class="thead">
        <tr>
            <th>Paciente</th>
            <th ng-if="getUserType() != 'medico'">Medico</th>
            <th>Data</th>
            <th>Ordem atendimento</th>
            <th class="has-text-centered">Status</th>
            <th class="has-text-centered">Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="v in vis.visitas track by $index">
            <td>{{v.paciente.pessoa.nome}}</td>
            <td ng-if="getUserType() != 'medico'">
                {{v.medico.pessoa.nome}}
            </td>
            <td>{{v.data_visita | date:'dd/MM/yyyy HH:mm'}}</td>
            <td>{{v['ordem_atendimento']}}</td>
            <td class="has-text-centered">
                <div class="tag is-large is-unselectable"
                     ng-class="vis.visitaStatusClass(v.status_visita.id)">
                    {{v.status_visita.nome}}
                </div>
            </td>
            <td class="is-centered has-text-centered">
                <ng-template>
                    <a href="#!/visita/{{v.id}}" ng-if="v.status_visita.id == 1" class="button is-link">Editar</a>
                    <button class="button is-warning" ng-if="v.status_visita.id == 1" ng-click="vis.altaModal(v.id)">Dar
                        Alta
                    </button>
                    <a href="#!/diagnostico/{{v.id}}" class="button is-info" ng-if="v.status_visita.id == 1">Adicionar diagnostico</a>
                </ng-template>
                <button class="button is-success">Historico</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="modal" ng-class="{'is-active': vis.showAltaModal}">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Modal title</p>
            <button class="delete" aria-label="close" ng-click="vis.showAltaModal = !vis.showAltaModal"></button>
        </header>
        <form name="altaForm">
            <section class="modal-card-body">
                <div class="columns">
                    <div class="column field is-4">
                        <label class="label">Data da alta</label>
                        <input ng-model="vis.alta.data_alta" id="data_alta" type="text" class="input datetimepick"
                               autofocus>
                    </div>
                </div>
                <div class="columns">
                    <div class="column field is-12">
                        <label class="label">Observações</label>
                        <textarea ng-model="vis.alta.observacao" id="" cols="30" rows="10" class="textarea"></textarea>
                    </div>
                </div>
        </form>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-success" ng-click="vis.darAlta()">Dar Alta</button>
            <button class="button is-danger" ng-click="vis.cancelarAlta()">Cancelar</button>
        </footer>
    </div>
</div>