/*!
 * box-shadows.css v1.0.5 - https://github.com/madeas/box-shadows.css
 *
 * Copyright (c) 2018 Andrej Sharapov
 * Licensed under MIT (https://github.com/madeas/box-shadows.css/blob/master/LICENSE)
 */
.bSnone,
.bSnone:hover {
    box-shadow: none !important; }

.bShadow {
    box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.06);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    will-change: transform, box-shadow; }
.bShadow-light {
    box-shadow: 0 2px 8px 0 rgba(50, 50, 50, 0.08); }
.bShadow-inset {
    box-shadow: inset 0 4px 7px 1px #fff, inset 0 -5px 20px rgba(173, 186, 204, 0.25), 0 2px 6px rgba(0, 21, 64, 0.14), 0 10px 20px rgba(0, 21, 64, 0.05); }
.bShadow-1, .bShadow-1h:hover {
    box-shadow: rgba(150, 150, 150, 0.1) 0 0 20px 0; }
.bShadow-2, .bShadow-2h:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0 20px 60px -10px; }
.bShadow-3, .bShadow-3h:hover {
    box-shadow: rgba(0, 0, 0, 0.09) 0 6px 9px 0; }
.bShadow-4, .bShadow-4h:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0 5px 20px 0; }
.bShadow-5, .bShadow-5h:hover {
    box-shadow: rgba(0, 0, 0, 0.12) 0 3px 13px 1px; }
.bShadow-6, .bShadow-6h:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0 15px 35px 0, rgba(0, 0, 0, 0.07) 0 3px 10px 0; }
.bShadow-7, .bShadow-7h:hover {
    box-shadow: rgba(57, 70, 78, 0.15) 0 0 1px 0, rgba(57, 70, 78, 0.25) 0 20px 55px -8px; }
.bShadow-8, .bShadow-8h:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 15px 45px -9px; }
.bShadow-9, .bShadow-9h:hover {
    box-shadow: rgba(0, 0, 0, 0.06) 0 1px 1px 1px; }
.bShadow-10, .bShadow-10h:hover {
    box-shadow: rgba(16, 36, 94, 0.4) 0 2px 6px 0; }
.bShadow-11, .bShadow-11h:hover {
    box-shadow: rgba(62, 57, 107, 0.3) 0 6px 16px 0; }
.bShadow-12, .bShadow-12h:hover {
    box-shadow: rgba(62, 57, 107, 0.36) 0 16px 38px -12px, rgba(62, 57, 107, 0.12) 0 4px 25px 0, rgba(62, 57, 107, 0.2) 0 8px 10px -5px; }
.bShadow-13, .bShadow-13h:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0 -15px 5px -12px; }
.bShadow-14, .bShadow-14h:hover {
    box-shadow: rgba(0, 0, 0, 0.09) 0 -6px 9px 0; }
.bShadow-15, .bShadow-15h:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0 -20px 60px -10px; }
.bShadow-16, .bShadow-16h:hover {
    box-shadow: rgba(16, 36, 94, 0.25) 0 -50px 100px -30px; }
.bShadow-17, .bShadow-17h:hover {
    box-shadow: rgba(112, 128, 175, 0.2) 0 -16px 24px 0; }
.bShadow-18, .bShadow-18h:hover {
    box-shadow: rgba(72, 76, 89, 0.28) 0 -16px 32px 0, transparent 0 0 0 0; }
.bShadow-19, .bShadow-19h:hover {
    box-shadow: rgba(72, 76, 89, 0.28) 0 -16px 32px 0, transparent 0 0 0 0; }
.bShadow-20, .bShadow-20h:hover {
    box-shadow: rgba(16, 36, 94, 0.2) 0 -30px 40px 0; }
.bShadow-21, .bShadow-21h:hover {
    box-shadow: rgba(0, 0, 0, 0.05) 5px 5px 0 0; }
.bShadow-22, .bShadow-22h:hover {
    box-shadow: rgba(0, 0, 0, 0.05) -5px 5px 0 0; }
.bShadow-23, .bShadow-23h:hover {
    box-shadow: rgba(0, 0, 0, 0.05) 5px -5px 0 0; }
.bShadow-24, .bShadow-24h:hover {
    box-shadow: rgba(0, 0, 0, 0.05) -5px -5px 0 0; }
.bShadow-25, .bShadow-25h:hover {
    box-shadow: rgba(72, 76, 89, 0.2) 2px 2px 4px 0; }
.bShadow-26, .bShadow-26h:hover {
    box-shadow: rgba(72, 76, 89, 0.2) -2px 2px 4px 0; }
.bShadow-27, .bShadow-27h:hover {
    box-shadow: rgba(72, 76, 89, 0.2) 2px -2px 4px 0; }
.bShadow-28, .bShadow-28h:hover {
    box-shadow: rgba(72, 76, 89, 0.2) -2px -2px 4px 0; }
.bShadow-29, .bShadow-29h:hover {
    box-shadow: rgba(50, 50, 50, 0.14) 2px 4px 6px 1px; }
.bShadow-30, .bShadow-30h:hover {
    box-shadow: rgba(50, 50, 50, 0.14) -2px 4px 6px 1px; }
.bShadow-31, .bShadow-31h:hover {
    box-shadow: rgba(50, 50, 50, 0.14) 2px -4px 6px 1px; }
.bShadow-32, .bShadow-32h:hover {
    box-shadow: rgba(50, 50, 50, 0.14) -2px -4px 6px 1px; }
.bShadow-33, .bShadow-33h:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 15px 15px 5px -5px; }
.bShadow-34, .bShadow-34h:hover {
    box-shadow: rgba(0, 0, 0, 0.2) -15px 15px 5px -5px; }
.bShadow-35, .bShadow-35h:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 15px -15px 5px -5px; }
.bShadow-36, .bShadow-36h:hover {
    box-shadow: rgba(0, 0, 0, 0.2) -15px -15px 5px -5px; }
.bShadow-37, .bShadow-37h:hover {
    box-shadow: rgba(62, 57, 107, 0.28) 10px 10px 32px 0, transparent 0 0 0 0; }
.bShadow-38, .bShadow-38h:hover {
    box-shadow: rgba(62, 57, 107, 0.28) -10px 10px 32px 0, transparent 0 0 0 0; }
.bShadow-39, .bShadow-39h:hover {
    box-shadow: rgba(62, 57, 107, 0.28) 10px -10px 32px 0, transparent 0 0 0 0; }
.bShadow-40, .bShadow-40h:hover {
    box-shadow: rgba(62, 57, 107, 0.28) -10px -10px 32px 0, transparent 0 0 0 0; }
.bShadow-41, .bShadow-41h:hover {
    box-shadow: rgba(26, 26, 67, 0.05) 1px 1px 5px 0, rgba(50, 50, 93, 0.5) 39px 62.5px 125px -25px, rgba(0, 0, 0, 0.3) 23.4px 37.5px 75px -37.5px; }
.bShadow-42, .bShadow-42h:hover {
    box-shadow: rgba(26, 26, 67, 0.05) 1px 1px 5px 0, rgba(50, 50, 93, 0.5) -39px 62.5px 125px -25px, rgba(0, 0, 0, 0.3) 23.4px 37.5px 75px -37.5px; }
.bShadow-43, .bShadow-43h:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0 15px 5px -12px; }
.bShadow-44, .bShadow-44h:hover {
    box-shadow: rgba(16, 36, 94, 0.25) 0 50px 100px -30px; }
.bShadow-45, .bShadow-45h:hover {
    box-shadow: rgba(0, 0, 0, 0.05) 0 8px 16px 0; }
.bShadow-46, .bShadow-46h:hover {
    box-shadow: rgba(0, 0, 0, 0.09) 0 6px 9px 0; }
.bShadow-47, .bShadow-47h:hover {
    box-shadow: rgba(112, 128, 175, 0.2) 0 16px 24px 0; }
.bShadow-48, .bShadow-48h:hover {
    box-shadow: rgba(72, 76, 89, 0.28) 0 16px 32px 0, transparent 0 0 0 0; }
.bShadow-49, .bShadow-49h:hover {
    box-shadow: rgba(16, 36, 94, 0.2) 0 30px 40px 0; }
.bShadow-50, .bShadow-50h:hover {
    box-shadow: rgba(0, 0, 0, 0.12) 0 0 70px 6px; }
.bShadow-51, .bShadow-51h:hover {
    box-shadow: 5px 31px 85px 23px rgba(0, 0, 0, 0.07); }
.bShadow-52, .bShadow-52h:hover {
    box-shadow: 30px 70px 70px 40px rgba(0, 0, 0, 0.05); }
.bShadow-53, .bShadow-53h:hover {
    box-shadow: 0 30px 48px 22px rgba(0, 0, 0, 0.07); }
.bShadow-54, .bShadow-54h:hover {
    box-shadow: -41px 51px 68px 5px rgba(0, 0, 0, 0.06); }
.bShadow-55, .bShadow-55h:hover {
    box-shadow: 41px 51px 68px 5px rgba(0, 0, 0, 0.06); }
.bShadow-56, .bShadow-56h:hover {
    box-shadow: -100px 100px 85px 23px rgba(0, 0, 0, 0.07); }
.bShadow-57, .bShadow-57h:hover {
    box-shadow: 100px 100px 85px 23px rgba(0, 0, 0, 0.07); }
.bShadow-58, .bShadow-58h:hover {
    box-shadow: 5px 0 12px -10px rgba(0, 0, 0, 0.25), -5px 0 12px -10px rgba(0, 0, 0, 0.25); }
.bShadow-59, .bShadow-59h:hover {
    box-shadow: 6px 0 12px -8px rgba(50, 50, 50, 0.45), -6px 0 12px -8px rgba(50, 50, 50, 0.45); }
.bShadow-60, .bShadow-60h:hover {
    box-shadow: 6px 0 12px -7px rgba(50, 50, 50, 0.75), -6px 0 12px -7px rgba(50, 50, 50, 0.75); }
.bShadow-61, .bShadow-61h:hover {
    box-shadow: -20px 0 50px -25px rgba(50, 50, 50, 0.65), 20px 0 50px -25px rgba(50, 50, 50, 0.65); }
.bShadow-62, .bShadow-62h:hover {
    box-shadow: 20px 0 25px -15px rgba(50, 50, 50, 0.35), -20px 0 25px -15px rgba(50, 50, 50, 0.35); }
.bShadow-63, .bShadow-63h:hover {
    box-shadow: 0 11px 30px -20px rgba(51, 51, 51, 0.51), 0 -11px 30px -20px rgba(51, 51, 51, 0.51); }
.bShadow-64, .bShadow-64h:hover {
    box-shadow: 0 11px 8px -10px rgba(51, 51, 51, 0.51), 0 -11px 8px -10px rgba(51, 51, 51, 0.51); }



/*# sourceMappingURL=box-shadows.css.map */